@import "tailwindcss";
@plugin "daisyui";
.text-primary{
  @apply bg-gradient-to-r from-violet-500 to-fuchsia-500 bg-clip-text text-transparent
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
